@page
@model SupermarkCheck.Pages.ReservationModel
@{
    ViewData["Title"] = "Reservation";
    List<string> testList = new List<string> {"test", "string", "List", "for", "reservation" };
    var ShopList = new List<ShopReservation.Models.ShopModel>
    {
        new Models.ShopModel {ShopName = "Shop1" ,Reservations = 4, MaxReservations = 10},
        new Models.ShopModel {ShopName = "Shop2" ,Reservations = 1, MaxReservations = 5},
        new Models.ShopModel {ShopName = "Shop3" ,Reservations = 5, MaxReservations = 5}
    };

    string text = "";


}

<h1>Reservation</h1>
   
@{ 
    foreach (string i in testList)
    {
        <lu>
            <h2>Reserve a spot at shop: @i</h2> 
        </lu>
    }

    foreach (var p in ShopList)
    {
        <lu>
            <p>@p.ShopName has @p.Reservations / @p.MaxReservations spots occupied</p>
            <button type="button" onclick="AddReservation()"></button>
            
        </lu>
    }

    <h1>@text</h1>
}


